body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.searchInput {
	text-align: center;
	border: 0.1rem solid gray;
	border-radius: 0.3rem;
	margin: 0.25rem;
	padding: 0.1rem;
	width: 50%;
	height: 1.3rem;
}

.searchName{
	margin: 1.5rem 3rem;
	margin-bottom: 1.6rem;
	/* text-align: left; */
	font-size: 0.9rem;
	color: black;
	text-decoration: underline background-clip: padding-box;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid;
	border-bottom-color: skyblue;
}

.search {
		appearance: none;
		border: 0;
		border-radius: 5px;
		background: gray;
		color: #fff;
		margin-left: 1rem;
		padding: 0.3rem 0.7rem;
		font-size: 1.2rem;
		text-align: right;
}

.sets {
	white-space: pre-wrap;
	text-align: left;
	margin: 1.5rem;
	padding: 2rem, 2rem;
	border-radius: 0.5rem;
	border: solid gray;
	line-height: 1.35rem;
}


.set{
	margin: 1.2rem;
}


.slide {
	margin-left: 1rem;
	/* padding: 0.1rem; */
	padding-right: 1rem;
	font-size: 0.85rem;
}

.title {
	text-align: left;
	font-size: 0.8rem;
	color: black;
	text-decoration: underline
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid;
	border-bottom-color: #dc3545;
}

.title2 {
	text-align: left;
	font-size: 0.9rem;
	color: black;
	text-decoration: underline background-clip: padding-box;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid;
	border-bottom-color: #dc3545;
}

.end{
	height: 1px;
	border-color:white #dc3545;
}

ol {
	padding: 1rem;
}

.searchModal {
	padding: 2rem;
	margin: 2rem;
}

.explain {
	margin: 1rem;
	padding: 1rem;
	font-size: 0.8rem;
}

img {
	width: 13rem;
	margin-top: 1rem;
}

.picParent{
	text-align: center;

}

.button {
	appearance: none;
	border: 0;
	border-radius: 0.4rem;
	background: #4676D7;
	color: #fff;
	padding: 8px 15px;
	font-size: 20px;
	text-align: center;
}

.motion {
	margin: 0.2rem 0.2rem;
}

.motion2 {
	margin: 0.5rem 0rem;
}

.index {
	text-align: right;
	margin: 0rem 2rem;
	font-size: 0.8rem;
}


.titles {
	text-align: center;
	margin-top: 0.5rem;
}

.parent-input-button{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.length {
	text-align: center;
	width: 1.4rem;
	margin-left: 85%;
	/* margin-top: 0.2rem; */
	margin-bottom: 0.2rem;
}

.flex{
	justify-content: space-between;
}

.flex {
	padding: 0.5% 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex>* {
	min-width: 3%;
	text-align: center;
}

.backward {
	/* margin-top: auto;
	margin-bottom: auto; */
	/* line-height: 1.2rem;
	width: 1rem; */
	/* margin: 1.2rem;
	margin-right: 5rem; */
	transform: scaleY(-1);
	font-size: 1.2rem;
	text-align: center;
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
	/* max-height: 1.5rem; */
}

.button {
	appearance: none;
	border: 0;
	border-radius: 0.4rem;
	background: #4676D7;
	color: #fff;
	padding: 8px 15px;
	font-size: 20px;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.copy {
	/* margin-left: 1.8rem;
	margin-top: auto;
	margin-bottom: auto; */
	margin-bottom: 1.2rem;
	padding: 0.3rem 0.25rem;
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
}